---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <div class="div_about">
    <p class="div_about_greeting">Welcome to G4ME_Z0NE</p>
    <div class="div_about_p">
      <p class="div_about_p1">
        My name is Aldiyar Nurgazin, but you may know me as CH0C0LAT1ER.
        G4ME_Z0NE is the ultimate destination for gaming reviews and community
        engagement. This site is a platform to connect with fellow gamers from
        around the world.
      </p>
      <p class="div_about_p2">
        Right now users have the opportunity to read game reviews from our team,
        leave comments, and communicate with other community members. In the
        future, I plan to add news bulletins about gaming and related spheres.
        Thank you for your time and dedication. And remember
      </p>
    </div>
    <p class="div_about_end">
      <span class="div_about_greeting">G4ME_Z0NE</span> - Your Gateway to the Gaming
      World.
    </p>
  </div>
</Layout>

<style>
  .div_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
    max-width: 100%;
  }

  .div_about_greeting {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--matrix-green);
    text-align: center;
    margin-bottom: 1rem;
  }

  .div_about_p {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 90%;
    margin-bottom: 1rem;
  }

  .div_about_p1,
  .div_about_p2 {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    .div_about_greeting {
      font-size: 2.5rem;
    }

    .div_about_p {
      width: 80%;
    }

    .div_about_p1,
    .div_about_p2 {
      font-size: 1.1rem;
    }

    .div_about_end {
      font-size: 1.8rem;
    }
  }

  @media (min-width: 1024px) {
    .div_about_greeting {
      font-size: 3rem;
    }

    .div_about_p {
      width: 70%;
    }

    .div_about_p1,
    .div_about_p2 {
      font-size: 1.2rem;
    }

    .div_about_end {
      font-size: 2rem;
    }
  }
</style>
