---
import Layout from "../layouts/Layout.astro";
---

<Layout title="G4ME_Z0NE(Astro Js)">
  <main>
    <h1>Welcome to the G4ME_Z0NE(Astro Js)!</h1>
    <p>
      Dive into the exciting world of video games with our comprehensive game
      review blog. Whether you're a passionate gamer seeking in-depth analyses
      or a casual player looking for recommendations, we've got you covered. Our
      expert team of gamers explores the latest releases across all platforms,
      from blockbuster AAA titles to indie gems, delivering honest and
      insightful reviews that help you make informed decisions. With a focus on
      quality content, engaging discussions, and a vibrant community of fellow
      gamers, G4ME_Z0NE is your go-to hub for discovering, discussing, and
      celebrating the captivating world of gaming. Join us on this thrilling
      journey and level up your gaming experience today!
    </p>
    <p>(go to Feed)</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 2rem;
    max-width: 800px;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    color: var(--matrix-green);
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.1rem;
    color: white;
    line-height: 1.6;
  }
</style>
