---
interface Props {
  link: string;
  pageTitle: string;
}
const { link, pageTitle } = Astro.props;
---

<a href={link} class="back-link">
  <span>&larr;</span>
  Back to {pageTitle} page
</a>

<style>
  .back-link {
    margin-top: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    transition: background-color 0.1s ease;
  }

  .back-link:hover {
    color: #838282;
  }
</style>
