---

---

<nav class="navbar">
  <ul class="navbar-nav">
    <div class="nav-logo">
      <li class="nav-item">
        <a href="/" class="nav-link">G4ME_Z0NE</a>
      </li>
    </div>
    <div class="nav-menu">
      <li class="nav-item">
        <a href="/feed" class="nav-link">Feed</a>
      </li>
      <li class="nav-item">
        <a href="/about" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact</a>
      </li>
    </div>
  </ul>
</nav>

<style>
  .navbar {
    padding: 1rem;
  }

  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-logo {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--matrix-green);
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .nav-link {
    text-decoration: none;
    color: var(--matrix-green);
  }

  .nav-link:hover {
    text-decoration: underline;
  }
</style>
